body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}